<div class="block text-center col-12">
  <h1 class="block-title">Profile - <%= @user.username %></h1>
</div>
<hr>
<p>Username: <%= @user.username %></p>
<p>Registration Date: <%= @user.created_at.time.to_date %></p>
<p>Quantity of Tweets: <%= @tweets.count %></p>
<p>Quantity of Following: <%= @following.count %></p>
<p>Quantity of Follower: <%= @follower.count %></p>
<p>Tweets: <%= link_to 'See All Tweets', usertweets_path(user: @user) %></p>
<p>Image: <%= image_tag @user.profile_img_url, class: 'user-thumb', size: '200x200' %></p>
